# Copyright (c) Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: ISC

# Coral Editor Configuration
#
# These are settings required for our source.
#
# See http://editorconfig.org/ and make sure you install proper
# support for your editor.

# Settings for all files
#
# - Unix-style newlines
# - Adds a newline to the end of file if not present
# - Removes trailing spaces from lines
# - Suggests 78 width line length (RFC 5322 Section 2.1.1)
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
rulers = 78

# Settings for shell script files
#
# - Use tabs, required for HEREDOCs to work properly
# - Use a 4-space tab width
[*.sh]
indent_style = tab
tab_width  = 4
